# Series

In [96]:
import pandas as pd

countries = pd.Series( # создание напрямую
    data = ['Англия', 'Канада', 'США'],
    index = ['UK', 'CA', 'US'],
    name = 'countries'
    )
#display(countries) # используется для вывода таблиц в ноутбуках

countries2 = pd.Series({ # создание из словаря
    'RU': 'Россия',
    'UA': 'Украина',
    'KZ': 'Казахстан'},
    name = 'countries2'
    )
#display(countries2)

countries.loc['US'] # возвращается строка
countries.loc[['US', 'UK']] # возвращается объект типа series, метки нужно обернуть в список
countries.iloc[1:3] # iloc позволяет обращаться по индексам

CA    Канада
US       США
Name: countries, dtype: object

# Dataframe

In [115]:
import pandas as pd

countries_df = pd.DataFrame({ # создание из словаря
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # задание индексов вручную
#display(countries_df)

countries_df2 = pd.DataFrame( # создание из вложенных списков
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # название столбцов вручную
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    )
#display(countries_df2)

countries_df.mean(axis=0, numeric_only=True) # действие со строками: среднее по строкам для каждого столбца
countries_df.mean(axis=1, numeric_only=True) # действие со столбцами: среднее по столбцам для каждой строки

countries_df['population'] # доступ к столбцу по названию, результат - объект Series
countries_df.loc['US', 'population'] # доступ к ячейкам: сначала индекс строки, потом индекс столбца
countries_df.loc[['UK','US'], ['population', 'square']]
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [129]:
import pandas as pd

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    a = dict()
    a['income'] = income
    a['expenses'] = expenses
    df = pd.DataFrame(data = a, columns = ['income','expenses'], index = years)
    return df

df = create_companyDF(income, expenses, years)
#display(df)

def get_profit(df, year):
    if year not in df.index: return None
    profit = df.loc[year, 'income'] - df.loc[year, 'expenses']
    return profit

get_profit(df, 2018)

      income  expenses
2018     478       156
2019     512       130
2020     196       270

322