# Series

In [16]:
import pandas as pd

countries = pd.Series( # создание напрямую
    data = ['Англия', 'Канада', 'США'],
    index = ['UK', 'CA', 'US'],
    name = 'countries'
    )
#display(countries) # используется для вывода таблиц в ноутбуках

countries2 = pd.Series({ # создание из словаря
    'RU': 'Россия',
    'UA': 'Украина',
    'KZ': 'Казахстан'},
    name = 'countries2'
    )
#display(countries2)

countries.loc['US'] # возвращается строка
countries.loc[['US', 'UK']] # возвращается объект типа series, метки нужно обернуть в список
countries.iloc[1:3] # iloc позволяет обращаться по индексам

CA    Канада
US       США
Name: countries, dtype: object

In [30]:
# задание

import pandas as pd

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

def create_medications(names, counts):
    return pd.Series(dict(zip(names, counts)))

medications = create_medications(names, counts)

def get_percent(medications, name):
    return medications.loc[name] / medications.sum()*100

get_percent(medications,'chlorhexidine')

37.5

# Dataframe

In [4]:
# создание и доступ
import pandas as pd

countries_df = pd.DataFrame({ # создание из словаря
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] # задание индексов вручную
#display(countries_df)

countries_df2 = pd.DataFrame( # создание из вложенных списков
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'], # название столбцов вручную
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    )
#display(countries_df2)

countries_df.mean(axis=0, numeric_only=True) # действие со строками: среднее по строкам для каждого столбца
countries_df.mean(axis=1, numeric_only=True) # действие со столбцами: среднее по столбцам для каждой строки

countries_df['population'] # доступ к столбцу по названию, результат - объект Series
countries_df.loc['US', 'population'] # доступ к ячейкам: сначала индекс строки, потом индекс столбца
countries_df.loc[['UK','US'], ['population', 'square']]
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [2]:
# задание

import pandas as pd

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    a = dict()
    a['income'] = income
    a['expenses'] = expenses
    df = pd.DataFrame(data = a, columns = ['income','expenses'], index = years)
    return df

df = create_companyDF(income, expenses, years)
#display(df)

def get_profit(df, year):
    if year not in df.index: return None
    profit = df.loc[year, 'income'] - df.loc[year, 'expenses']
    return profit

get_profit(df, 2018)

322

In [ ]:
# экспорт в CSV

import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';') # index - нужно ли создавать дополнительный столбец с индексами
#to_excel()

In [3]:
# загрузка из файла

import pandas as pd

countries_data = pd.read_csv('data/countries.csv', sep=';') # skiprows — количество строк в файле, которые нужно пропустить
# read_sql(), read_excel()
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [4]:
# загрузка по ссылке

import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [40]:
# исследование + статистика

import pandas as pd

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data.loc[15,'Price']

melb_data.head() # вывод верхних строк, по умолчанию 5
melb_data.tail(7) # вывод нижнихт строк с указанием количества
melb_data.shape # количество строк и столбцов, shape[0] - только строки
#melb_data.info() # детальная информация о столбцах: индекс, название, кол-во непустых значений, тип данных и кол-во столбцов с таким типом
#melb_data["Coordinates"].info() # для отдельного столбца

melb_data['Car'] = melb_data['Car'].astype('int64') # преобразование типа данных столбца

melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']] # описательная статистика для int и float
melb_data.describe(include=['object']) # top - самое частое значение (мода), freq - частота использования моды
melb_data['Regionname'].value_counts() # частота каждого уникального значения, объект типа Series
melb_data['Regionname'].value_counts(normalize=True)*100 # частота в виде доли

melb_data['Price'].mean()
# count(), min(), max(), sum(), quantile(x), mean() - среднее
# deviance() - дисперсия, std() - стандартное отклонение, nunique() - число уникальных значений
melb_data['Regionname'].mode() # самое распространное значение в столбце, может использоваться с типом object

Southern Metropolitan         34.572901
Northern Metropolitan         28.645066
Western Metropolitan          21.708395
Eastern Metropolitan          10.832106
South-Eastern Metropolitan     3.313697
Eastern Victoria               0.390280
Northern Victoria              0.301915
Western Victoria               0.235641
Name: Regionname, dtype: float64

In [2]:
# фильтрация

import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

mask = melb_data['Price'] > 2000000 # маска - объекс Series, который выдает True для индексов, где выполняется условие, иначе - False
melb_data[mask]
melb_data[melb_data['Price'] > 2000000]

melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0] # a AND b
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0] # (a OR b) AND c

melb_data[melb_data['Type'] == 't']['Rooms'].max() # стат методы с фильтрацией

AttributeError: Module 'numpy.core' has no attribute 'numerictypes'